# Python Assignment 3 - 13th Dec 2020

### 1.1 Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [1]:
def myreduce(func, seq):
    
    # i - to hold the index of the sequence
    # a - to hold that first value of reduce and the result is also stored in a
    # b - to help the second value of reduce
    
    i=0
    
    for seq_item in seq:
        if i != 0:
            b= seq_item
            i += 1  
        else:
            a= seq_item
            i += 1
            continue
            
        a=func(a,b)
    return a

In [2]:
#dummy function to do some complex calculation
def calc(var1, var2):
    return var1+var1+var2+var2+var1+var2

In [3]:
myreduce(calc, [1,2,3])

36

In [4]:
myreduce(calc, ['a','b','c'])

'aabbabaabbabccaabbabc'

In [5]:
# find the sum of all the elements in list
myreduce(lambda x,y: x+y, [11,22,44])

77

In [6]:
# find the biggest number in the list
l=[4,3,2000,110,700,8000,2000]
myreduce(lambda x,y: x if (x>y) else y, l)

8000

In [7]:
#concatenate all strings in list
lst =['Honey ','I ','Shrunk ','The ','Kids']
myreduce(lambda a,b: a+b,lst)

'Honey I Shrunk The Kids'

### 1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [8]:
def myfilter(func, seq):
    output_lst=[]
    for seq_item in seq:
        if func(seq_item) == True:
            output_lst.append(seq_item)
    return output_lst

In [9]:
def even_check(num):
    if num%2 ==0:
        return True

In [10]:
lst =[1,2,3,4,5,6,7,8]
list(myfilter(even_check,lst))

[2, 4, 6, 8]

In [11]:
#print first 5 even numbers
list(myfilter(lambda x: x%2==0,range(10)))

[0, 2, 4, 6, 8]

In [12]:
#print first 5 odd numbers
list(myfilter(lambda x: x%2!=0,range(10)))

[1, 3, 5, 7, 9]

In [13]:
#print 5 to 50 in multiples of 5
list(myfilter(lambda x: x%5==0,range(1,51)))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [14]:
#Get all strings in the list which has 'e' in it
lst =['hi','hello','game', 'apple', 'python']
list(myfilter(lambda x: x.count('e')!=0,lst))

['hello', 'game', 'apple']

### 2. Write List comprehensions to produce the following Lists

In [15]:
# Need this output ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
lst_a = ['x','y','z']
lst_b = [1,2,3,4]
output = [a*b for a in lst_a for b in lst_b]
output

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [16]:
# Need this output ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
lst_b = ['x','y','z']
lst_a = [1,2,3,4]
output = [a*b for a in lst_a for b in lst_b]
output

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [17]:
# Need this output [[2], [3], [4], [3], [4], [5], [4], [5], [6]]
lst = [1,2,3]
output = [[a+b] for a in lst for b in lst]
output

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [18]:
# Need this output [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
lst = [2,3,4,5]
output = [[a,a+1,a+2,a+3] for a in lst]
output

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [19]:
# Need this output [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]
lst = [1,2,3]
output = [(b,a) for a in lst for b in lst]
output

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]